/*Background Image*/
body {
    background-image: url(../images/tile.png);
}

header {
    background-color: lightgray;
    border-style: solid;
    text-align: center;
}

/*Main grid layout setup*/
.main-container {
    justify-content: center;
    align-items: center;
}

.sec-header, .box {
    background-color: lightgray;
    border-style: solid;
    text-align: center;
}

.tbox {
    border-style: solid;
    text-align: center;
}

.ts-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: left !important;
}

.box {
    padding: 1%;
}

p {
    font-weight: bold;
    font-size: medium;
}

.s-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: left !important;
    background-color: #b4b4b4 !important;
}



.row-5 {
    margin-left: 1%;
    margin-right: 1%;
}

#contact{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
}

/*Picture code*/

.tbl-img {
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;    
}

#robot, #profile {
    height:85%;
    width: 100%;
}

#logo {
    background-color: lightgray;
    height: 70%;
}

#field {
    width: 75%;
}

#rphoto {
    width: 70%;
}

#analytics, #home {
    width: 80%;
}

#fifine {
    width: 60%;
    margin-left: 20%;
}

#camelbak {
    width: 35%;
    margin-left: 31%;
}

#popsocket {
    width: 70%;
    margin-left: 15%;
}

#stand {
    width: 70%;
    margin-left: 15%;
}

#usb {
    width: 85%;
    margin-left: 5%;
}

/*Other animations / interactions*/

main a {
    color: darkred;
}

main a:hover, #long-Link {
    color: rgb(252, 0, 0);
}

#long-link {
    color: rgb(252, 0, 0);  
}

#long-link:hover {
    color: darkred;
}

#long-link:hover::after {
    color: darkred;
    content: " link was to long so I cut it off here.";
}